*{margin: 0;
 padding: 0;
}

body {
}

#ccc {
 background: rgba(138, 109, 53, 0.15);
 display: block
}

#action {
 position: fixed;
 top: 0;
 left: 0;
 padding: 15px;

}

#action>svg{
 transition: all 0.3s;
}

#action>svg.active{
 fill: crimson;
 transform: scale(1.2);
}

.icon {
 width: 1.5em;
 height: 1.5em;
 vertical-align: -0.15em;
 fill: currentColor;
 overflow: hidden;
 margin: 0 5px;
}

ul,ol{list-style: none;}  /* 去掉OL自带的序号 */

.colors{
 position: fixed;
 top: 40px;
 left: 18px;
}

.colors li{
 width: 15px;
 height: 15px;
 margin: 10px 0;
 border-radius: 50%;
 box-shadow: 0 0 3px rgba(0,0,0,0.25);
 transition: all 0.3s;
}

.colors li.active{
 box-shadow: 0 0 5px rgba(0,0,0,0.95);
 transform: scale(1.2);
}

.colors .black{
 background: black;
}

.colors .red{
 background: red;
}

.colors .yellow{
 background: yellow;
}

.colors .blue{
 background: blue;
}