body {
 margin: 0;
}

#ccc {
 background: white;
 display: block
}

#action {
 position: fixed;
 top: 0;
 left: 0;
 padding: 15px;
 transition: all 0.3s;
}

#action>svg.active{
 fill: crimson;
 transform: scale(1.2);
}

.icon {
 width: 1.5em;
 height: 1.5em;
 vertical-align: -0.15em;
 fill: currentColor;
 overflow: hidden;
 margin: 0 5px;
}
